{{define "title"}}
Pavel's blog — Edit {{.Title}}
{{end}}


{{define "body"}}
    <h1>Editing article</h1>

    {{if .Errors.db}}
        <ul class="errors">
            <li>{{.Errors.db}}</li>
        </ul>
    {{end}}

    <form method="post">

        {{$titleClass := ""}}
        {{if .Errors.title}}
            {{$titleClass = "input-error"}}
        {{end}}
        <p>
            <label for="title">Title</label>
            <input class= "{{$titleClass}}" value="{{.Title}}" type="text" name="title" id="title">
            {{if .Errors.title}}
                <br><small class="error">{{.Errors.title}}</small>
            {{end}}
        </p>


        {{$slugClass := ""}}
        {{if .Errors.slug}}
            {{$slugClass = "input-error"}}
        {{end}}
        <p>
            <label for="slug">Slug</label>
            <input class="{{$slugClass}}" value="{{.Slug}}" type="text" name="slug" id="slug">
            {{if .Errors.slug}}
                <br><small class="error">{{.Errors.slug}}</small>
            {{end}}
        </p>

        <p>
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="50" rows="10">{{.Content}}</textarea>
        </p>

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

    <form action="/articles/delete/{{.Slug}}" method="post">
        <input class="delete-button" type="submit" value="Delete article">
    </form>
{{end}}