<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Blog{{end}}</title>
    <link rel="stylesheet" href="/static/simple.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {{if .User}}
                <a href="/articles/new">New article</a>
            {{end}}
            {{if .User}}
                <a href="/logout">Log out from {{.User}}</a>
            {{else}}
                <a href="/login">Log in</a>
            {{end}}
        </nav>
        <h1>My blog</h1>
        <p>Hello and welcome to my blog!</p>
    </header>

    <main>
        {{template "body" .}}
    </main>

    <footer>Made with &lt;3 by ZP</footer>
</body>
</html>