{{define "body"}}
    {{if .Flash}}
        <p class="notice">{{.Flash}}</p>
    {{end}}

    {{if not .Articles}}
        <p>Nothing was posted yet.</p>
    {{end}}
        
    {{range .Articles}}
        <article>
            <div>
                <a href="/articles/view/{{.Slug}}">
                    {{.Title}}
                </a>
            </div>

            <small>{{.CreatedAt.Format "02.01.2006"}}</small>
            
            {{$l := len .Content}}
            <div>
                {{printf "%.300s" .Content}}
                {{- if gt $l 300}}...{{end}} 
            </div>
        </article>
    {{end}}

    {{if gt .PageCount 1}}
        <p>
            <div class="pagination">
                {{if gt .Page 1}}
                    <a href="/?page={{.PrevPage}}"> < </a>
                {{end}}

                {{.Page}}

                {{if lt .Page .PageCount}}
                    <a href="/?page={{.NextPage}}"> > </a>
                {{end}}
            </div>
        </p>
    {{end}}
{{end}}