{{define "body"}}
    <h2>Latest posts</h2>
    
    {{range .Articles}}
        <article>
            <div>
                <a href="/articles/view/{{.Slug}}">
                    {{.Title}}
                </a>
            </div>

            <small>{{.CreatedAt.Format "02.01.2006"}}</small>
            
            {{$l := len .Content}}
            <div>
                {{printf "%.300s" .Content}}
                {{- if gt $l 300}}...{{end}} 
            </div>
        </article>
    {{end}}

    <p>
        {{if gt .Page 1}}
            <a href="/?page={{.PrevPage}}"> < </a>
        {{end}}

        {{.Page}}

        <a href="/?page={{.NextPage}}"> > </a>

    </p>
{{end}}