{{define "title"}}
Blog — Log in
{{end}}


{{define "body"}}
<div class="login">
    <div>
        <h2>Log in</h2>

        {{if .Err}}
            <p>
                <ul class="errors">
                    <li>{{.Err}}</li>
                </ul>
            </p>
        {{end}}
        
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <input class="login-submit" type="submit" value="Log in">
        </form>
    </div>
</div>
{{end}}